* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  visibility: visible;
  right: 40px;
}
.app {
  background-image: url('./assets/background/BG.JPG');
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  align-items: top;
  align-content: center;
  background-color: red;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.media-container {
  display: flex;
  align-items: top;
  align-content: center;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 2000px;
}

.flex-item {
  padding: 5px;
  width: 95%;
  height: auto;
  max-height: 90%;
  margin: 25px;
  margin-top: 20px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.storyboard-icon {
  width: 95%;
  height: 50%;
  color: rebeccapurple;
}
.nav{
  display: none;
}
.mr-auto {
  display: none;
}
a.nav-link {
  display: none;
}


.carousel {
  padding: 5px;
  width: 85%;
  height: auto;
  max-height: 90%;
  margin: 25px;
  margin-top: 20px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}*
.carousel-container {
  padding: 35px;
  width: 85%;
  height: auto;
  max-height: 90%;
  margin: 25px;
  margin-top: 20px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.dropdown {
  visibility: visible;
}
@media all and (min-width: 768px) {
.main-nav {
  list-style-type: none;
  display: none;
}
a.nav-link {
  display: block;
}
.mr-auto {
  visibility: visible;
}

  .dropdown {
  visibility: collapse;
}
.flex-item {
  padding: 5px;
  width: 95%;
  max-width: 700px;
  height: auto;
  max-height: 100%;
  margin: 25px;
  margin-top: 20px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

}

/*wivelit872@emailnube.com*/